/*********************************************************************/
/* Base Style                                                        */
/*********************************************************************/
body {
  background-color: #eeeeee;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  color: #333333;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

a {
  color: #4444aa;
  text-decoration: none;
}

a:hover {
  color: #ffcc00; /* was orange */
  text-decoration: underline;
}

img {
  border-width: 0px;
}

p {
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
}

form {
  margin: 0px;
}

#feed-list-title {
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #111111;
  /* letter-spacing: 16px; */
  border-bottom: 1px solid #111111;
  padding: 2px;

  background-color: #eeeeee;
  background-image: url(/images/feed-title-bg.png);
  background-repeat: repeat-x;
}

#feed-list-table {
  background-color: #eeeeee;
}

/**************************/
/* unread feed list items */
/**************************/
.feed-tr-unread-even {
  background-color: #ffffff;
  font-size: 10px;
}

.feed-tr-unread-odd {
  background-color: #eeeeee;
  font-size: 10px;
}

.feed-count-unread-even {
  padding: 2px;
  font-weight: bold;
  text-align: right;
}

.feed-count-unread-odd {
  padding: 2px;
  font-weight: bold;
  text-align: right;
}

.feed-title-unread-even {
  padding: 2px;
  font-weight: bold;
}

.feed-title-unread-odd {
  padding: 2px;
  font-weight: bold;
}

/************************/
/* read feed list items */
/************************/
.feed-tr-read-even {
  background-color: #ffffff;
  font-size: 10px;
}

.feed-tr-read-odd {
  background-color: #eeeeee;
  font-size: 10px;
}

.feed-count-read-even {
  padding: 2px;
  text-align: right;
}

.feed-count-read-odd {
  padding: 2px;
  text-align: right;
}

.feed-title-read-even {
  padding: 2px;
}

.feed-title-read-odd {
  padding: 2px;
}

.feed-url-read-even {
  color: #333333;
  text-decoration: none;
}

.feed-url-read-odd {
  color: #333333;
  text-decoration: none;
}

